body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(206, 205, 203);
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: x-large;
}

nav {
    background-color: #81C784;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

section {
    background-color:#E6E2DA;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #2E7D32;
}

img {
    background-color: transparent;
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}
div {
text-align: center;
 background-color:#E6E2DA;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}