body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(206, 205, 203);
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: x-large;
}
img
{
    display: block;
    margin:  0 auto;
   max-width: 300px;
}
nav {
    background-color: #81C784;
    text-align: center;
    padding: 10px;
}
a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}
section {
  background-color: #dde6dd;
    margin: 20px;
    padding: 20px;
}
h2 {
    text-align: center;
    color: black;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 30px;
}
div {
     background-color: #dde6dd;
      margin: 20px;
    padding: 20px;
    text-align: center;
}
.menu {
  display: flex;
  overflow-x: auto;     
  white-space: nowrap;   
  gap: 15px;
  padding: 10px;
}
.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}